<section class='card' id='{{post_id}}'>
  <div class='card-head'>
    Comment by
    {{user.username}}
    at
    {{format_date updatedAt 'America/Toronto'}}
  </div>
  <div class='card-body'>
    {{comment_text}}
  </div>
</section>