<section class="dashboard">
    <h2 class="dashboard-head">Welcome To Your Dashboard</h2>
    <p class="subtitle">View your Posts</p>
    <div class="posts">
        {{#each posts}}
        {{> dashboardPostDetails}}
        {{/each}}
    </div>
</section> 