{{! Homepage }}
<section class='dashboard'>
  <h2 class='dashboard-head'>Check Out The Latest Posts!</h2>

  <div class='posts'>
    {{#each posts}}
      {{> homePostDetails }} 
    {{/each}}
  </div>
</section>