<div class='row'>
  <div class='col justify-content-center'>
    <h2 class='login'>Login</h2>
    <form class='form login-form'>
      <div class='form-group'>
        <input
          class='form-input'
          type='text'
          placeholder='Username'
          id='username-login'
          style='width: 300px;'
        />
      </div>
      <div class='form-group'>
        <input
          class='form-input'
          type='password'
          placeholder='Password'
          id='password-login'
          style='width: 300px;'
        />
      </div>
      <div class='form-group'>
        <button
          class='btn'
          style='background-color: #005582; color: white; width: 300px;'
          type='submit'
        >Login</button>
      </div>
      <div class='form-group' style='margin-top: 15px;'>
        <a href='/signup'>Sign Up For Free</a>
      </div>
    </form>
    <div id='login-failed' style='display: none; color: red;'>Login failed.
      Please try again</div>
  </div>
</div>

<script src='/js/login.js'></script>