/* Styling for creating new post or comment */
.new-post-box {
  width: 90%; /* Adjust width for smaller screens */
  max-width: 500px; /* Maximum width */
  height: auto; /* Automatically adjust height */
  margin: 0 auto; /* Center horizontally */
  margin-top: 150px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 9px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  overflow: auto;
  text-align: center;
  color: var(--accent-color-minor);
  padding: 14px;
  justify-content: center;
}

h2,
h3 {
  color: var(--accent-color-minor);
  margin-top: 3%;
  font-size: 28px;
}

#leave-comment {
  font-size: 22px;
  color: var(--accent-color-minor);
  text-align: center;
}

/* Styling for the forms */
#new-post-form,
#new-comment-form {
  margin: 0 auto;
  text-align: left;
  width: 90%; /* Adjust width for smaller screens */
}

#new-post-form {
  padding: 1%;
}
#new-comment-form {
  padding: 2%;
}
#new-post-form label {
  font-size: 24px;
  color: var(--tertiary-color);
}
#new-post-form .title {
  width: 100%;
  margin-bottom: 5%;
  padding: 1%;
  border: 1px solid black;
  border-radius: 5px;
  color: var(--accent-color-minor);
}
#new-post-form textarea,
#new-comment-form textarea {
  width: 100%;
  padding: 2%;
  border: 1px solid black;
  border-radius: 5px;
  color: var(--accent-color-major);
}
#new-post-form textarea {
  height: 100px; /* Adjust height for smaller screens */
  margin-bottom: 5%;
}
#new-comment-form textarea {
  height: 80px; /* Adjust height for smaller screens */
  margin-bottom: 2%;
  color: black;
}

/* styling applied to the comment button  */
.card {
  width: 90%; /* Adjust width for smaller screens */
  margin: 0 auto; /* Center horizontally */
  margin-bottom: 10px;
}

/* styling applied to the comment button */
.submit-comment {
  width: 50%; /* Adjust width for smaller screens */
  padding: 10px 20px;
  margin: 20px auto; /* Center horizontally */
}

.submit {
  margin: 20px auto; /* Adjust as needed */
  padding: 10px 20px; /* Adjust as needed */
  background-color: var(--accent-color-minor);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 9px;
  width: 50%;
}

footer {
  position: fixed;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .new-post-box {
    margin-top: 260px; /* Adjust top margin for smaller screens */
  }
  #new-post-form,
  #new-comment-form {
    width: 95%; /* Adjust width for smaller screens */
  }
  #new-post-form textarea {
    height: 80px; /* Adjust height for smaller screens */
  }
  #new-comment-form textarea {
    height: 60px; /* Adjust height for smaller screens */
  }
  .card,
  .submit-comment,
  .submit {
    width: 95%; /* Adjust width for smaller screens */
  }

  .submit {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
