/* Styling for creating new post or comment */
.new-post-box {
  width: 500px;
  height: 625px;
  margin: 0 auto; /* Center horizontally */
  margin-top: 150px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 9px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  overflow: auto;
  text-align: center;
  color: var(--accent-color-minor);
  padding: 14px;
  justify-content: center;
}

h2,
h3 {
  color: var(--accent-color-minor);
  margin-top: 3%;
  font-size: 28px;
}

#leave-comment {
  font-size: 22px;
  color: var(--accent-color-minor);
  text-align: left;
}

/* Styling for the forms */
#new-post-form,
#new-comment-form {
  margin: 0 auto;
  text-align: left;
}

#new-post-form {
  padding: 1%;
}
#new-comment-form {
  padding: 2%;
}
#new-post-form label {
  font-size: 24px;
  color: var(--tertiary-color);
}
#new-post-form .title {
  width: 100%;
  margin-bottom: 5%;
  padding: 1%;
  border: 1px solid black;
  border-radius: 5px;
  color: var(--accent-color-minor);
}
#new-post-form textarea,
#new-comment-form textarea {
  width: 100%;
  padding: 2%;
  border: 1px solid black;
  border-radius: 5px;
  color: var(--accent-color-major);
}
#new-post-form textarea {
  height: 25%;
  margin-bottom: 5%;
}
#new-comment-form textarea {
  height: 10%;
  margin-bottom: 2%;
  color: black;
}

/* styling applied to the comment button  */
.card {
  width: 80%; /* Adjust width as needed */
  margin: 0 auto; /* Center horizontally */
  margin-bottom: 10px;
}

/* styling applied to the comment button */
.submit-comment {
  width: 100px; /* Adjust width as needed */
  padding: 1%;
  margin: 0 auto; /* Center horizontally */
}

.submit {
  margin: 0 auto; /* Center the button horizontally */
  margin-top: 20px; /* Adjust the top margin as needed */
  padding: 10px 20px; /* Adjust padding as needed */
  width: 50%;
  display: block; /* Ensures the button takes up full width */
  background-color: var(--accent-color-minor);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 9px;
}


footer {
  position: fixed;
}
