/* Global styles */
.card-title:hover,
.card-options p:hover {
  cursor: pointer;
}

/* Card styles */
.card {
  width: 400px; /* Adjust the width as needed */
  height: 300px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  overflow: auto;
  margin-bottom: 20px;
  color: var(--accent-color-minor);
}

h2.dashboard-head {
  font-size: 50px;
  color: var(--accent-color-minor);
}

.subtitle {
  font-size: 22px;
  color: var(--accent-color-minor);
}

.card-body {
  padding: 1%;
}

.card-head {
  display: flex;
  flex-direction: column;
  padding: 1%;
  color: var(--accent-color-minor);
}

.card-head h3 {
  margin: 0;
  font-size: 28px;
  margin-bottom: 10px; /* Adjust as needed */
  color: var(--accent-color-major);
}

.card-head p {
  margin: 0;
  padding-top: 0.5%;
  color: var(--accent-color-major);
}

.card-options {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px; /* Adjust as needed */
}

.card-options p {
  margin: 0;
}

.dashboard {
  width: 86%;
  margin-left: 7%;
  margin-right: 7%;
  padding-top: 9%;
  margin-bottom: 12%;
}

.posts {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: space-evenly; /* Distribute items evenly along the main axis */
  margin-top: 87px;
}
