/* Styling for editing post or comment */
.edit-post-box {
  width: 90%; /* Adjust width for smaller screens */
  max-width: 500px; /* Maximum width */
  height: auto; /* Automatically adjust height */
  margin: 0 auto; /* Center horizontally */
  margin-top: 150px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 9px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  overflow: auto;
  text-align: left;
  color: var(--accent-color-minor);
  padding: 10px;
  justify-content: center;
}

.edit-post-box label[for='title'],
.edit-post-box label[for='edit-post'] {
  color: var(--accent-color-minor);
  font-size: 24px;
}

#edit-post-form {
  padding: 7%;
}
#edit-comment-form {
  padding: 2%;
}

#edit-post-form .title {
  width: 100%;
  margin-bottom: 5%;
  padding: 1%;
  border: 1px solid black;
  border-radius: 5px;
  color: var(--accent-color-minor);
}
#edit-post-form textarea,
#edit-comment-form textarea {
  width: 100%;
  padding: 2%;
  border: 1px solid black;
  border-radius: 5px;
  color: var(--accent-color-minor);
}
#edit-post-form textarea {
  height: 100px; /* Adjust height for smaller screens */
  margin-bottom: 5%;
}

.submit {
  margin: 0 auto; /* Center the button horizontally */
  margin-top: 20px; /* Adjust the top margin as needed */
  padding: 10px 20px; /* Adjust padding as needed */
  width: 50%;
  display: block; /* Ensures the button takes up full width */
  background-color: var(--accent-color-minor);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 9px;
}

footer {
  position: fixed;
}

h2 {
  color: var(--tertiary-color);
  margin-top: 3%;
  font-size: 28px;
  text-align: center;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .edit-post-box {
    margin-top: 275px; /* Adjust top margin for smaller screens */
  }

  #edit-post-form,
  #edit-comment-form {
    width: 90%; /* Adjust width for smaller screens */
  }

  #edit-post-form textarea {
    height: 80px; /* Adjust height for smaller screens */
  }

  .submit {
    width: 90%; /* Adjust width for smaller screens */
  }

  h2 {
    font-size: 24px; /* Adjust font size for smaller screens */
  }
}
