/* Styling for login box */
.log-in-card {
  max-width: 450px;
  margin: 0 auto; /* Center horizontally */
  margin-top: 190px;
  padding: 40px;
  border: 2px solid var(--tertiary-color);
  border-radius: 9px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  overflow: hidden;
  text-align: center;
}

/* MAKE THE BORDER OF THE USERNAME AND PASSWORD INPUTS TERTIARY col
FIX THE SHAWDOW WITH THE NEW BORDER 2PX SOLID VAR--TERTIARY-COLOR */

/* Center text and form elements */
.log-in-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit {
  margin-top: 20px; /* Adjust as needed */
  padding: 10px 20px; /* Adjust as needed */
  width: 50%;
  background-color: var(--accent-color-minor);
}

.form-element {
  margin-bottom: 20px; /* Adjust as needed */
  width: 100%;
}

.form-element label {
  display: block;
  margin-bottom: 5px; /* Adjust as needed */
  text-align: left;
  color: black;
}

.form-element input {
  border: 2px solid var(--tertiary-color);
  padding: 10px; /* Adjust as needed */
  width: 100%;
  border-radius: 9px;
}

/* Styling for messages if register fails */
.message {
  margin: 4%;
  text-align: center;
}
