/* Styling for login box */
.log-in-card {
  max-width: 450px;
  margin: 0 auto; /* Center horizontally */
  margin-top: 190px;
  padding: 40px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 9px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  overflow: hidden;
  text-align: center;
}

/* Center text and form elements */
.log-in-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit {
  margin: 20px; /* Adjust as needed */
  padding: 10px 20px; /* Adjust as needed */
  width: 50%;
  background-color: var(--accent-color-minor);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 9px;
}

.form-element {
  margin-bottom: 20px; /* Adjust as needed */
  width: 100%;
}

.form-element label {
  display: block;
  margin-bottom: 5px; /* Adjust as needed */
  text-align: left;
  color: var(--accent-color-minor);
}

.form-element input {
  border: 2px solid var(--tertiary-color);
  padding: 10px; /* Adjust as needed */
  width: 100%;
  border-radius: 9px;
}

/* Styling for messages if register fails */
.message {
  margin: 4%;
  text-align: center;
}

h2 {
  color: var(--accent-color-minor);
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .log-in-card {
    margin-top: 270px; /* Adjust top margin for smaller screens */
    padding: 20px; /* Adjust padding for smaller screens */
  }

  .submit {
    width: 70%; /* Adjust width for smaller screens */
  }
}
