/* Styling for login box */
.create-profile {
  max-width: 450px;
  margin: 0 auto; /* Center horizontally */
  margin-top: 190px;
  padding: 25px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 9px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  overflow: hidden;
  text-align: center;
  color: var(--accent-color-minor);
}

.submit {
  margin-left: 25%;
  padding: 3%;
  width: 50%;
}

/* Align input fields and buttons */
.form-element input[type='text'],
.form-element input[type='password'],
.form-element input[type='email'],
.form-element input[type='submit'] {
  display: block; /* Aligns the input/button to the block (full width of the container) */
  width: 90%; /* Sets a wider width for the input fields */
  margin: 5px auto; /* Centers the input fields with automatic margins on the sides */
  padding: 10px; /* Adjust padding as necessary */
  background-color: white; /* Background color */
}

/* Styling for messages if register fails */
.message {
  margin: 3%;
  text-align: center;
}
.register-failed {
  color: var(--accent-color-minor);
}

.register-success {
  color: var(--accent-color-minor);
}

/* Center text and form elements */
.log-in-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submit {
  margin: 20px; /* Adjust as needed */
  padding: 10px 20px; /* Adjust as needed */
  width: 50%;
  background-color: var(--accent-color-minor);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 9px;
}

.form-element {
  width: 100%;
}

.form-element label {
  display: block;
  margin-bottom: 5px; /* Adjust as needed */
  text-align: left;
  color: var(--accent-color-minor);
}

.form-element input {
  padding: 10px; /* Adjust as needed */
  width: 100%;
  border: 2px solid var(--tertiary-color);
  border-radius: 9px;
}
